<!DOCTYPE html>
<html ng-app="myApp">
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body ng-controller="myController">
<div id="header">
  <div id="bigdata">BIGDATA</div>
  <div id="icons">
    <div id="profil"></div>
    <div id="cart"> <span id="count">{{counter}}</span></div>


  </div>
</div>

<div class="container">
  <div id="title"> <h3>SHOPPING CART</h3> </div>
  <br>
  </div>
  <div ng-repeat="product in products">
  <div class="container">
  <div class="col-sm-12 col-md-12 col-lg-3">
    <img src="img/{{product.image}}">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3">
      <p> <b>{{product.name}} </b></p>
      <p>{{product.description}}</p>
      <p> <img src="img/{{product.icon}}"></p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3">

    <button id="plus" ng-click="plus($index)">+</button></td>
    <input type="text" id="counter" value="{{product.count}}">
    <button id="minus" class="minus" ng-click="minus($index)" disabled>-</button>
    <div style="clear:both"></div>

      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="price"><p> <b> $ {{product.price}} </b></p></div>
        <div class="zakaz"><p> <i> ({{product.count}} x ${{product.zakaz}}) </i></p> </div>
      </div>
    </div>
	 <hr>
    <br>
    </div>

  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-8">

      </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
    <div id="results">
      <p>Subtotal <span id="subtotal"></span></p>
      <p>Shipping<span id="shipping">Free</span></p>
      <p><b>Order total<span id="order"></span></b></p>
      <br>
      <button class="btn btn-success btn-lg" id="checkout" ng-click="total()">Checkout</button>
      </div>
    </div>

  </div>



<script src="app.js"></script>
<script src="myController.js"></script>
</body>
</html>
