/* Demo styles */
#test {
  width:300px;
  height:300px;
  background: blue;
}

#test2 {
  width:100%;
  height:300px;
  background: red;
}

#test3 {
  width:300px;
  height:300px;
  background: black;
  float:right;
}

/* Redactor block plugin styles */
#redactor_block_plugin {
  display: none;
  width: 200px;
  height: 300px;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position:absolute;
  z-index: 1000;
  opacity:1!important;
}

#redactor_block_plugin  ul {
  list-style:none;
}

#redactor_block_plugin  ul li {
  color: #696969;
  cursor:pointer;
  font-size: 18px;
  margin-bottom:10px;
}

#redactor_block_plugin_exit {
  color: #FF4500;
  cursor: pointer;
  font-weight: bold;
  margin-top:50px;
}

#redactor_block_plugin_palitra, #redactor_block_plugin_resize, #redactor_block_plugin_border {
  width: 300px;
  height: 250px;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position:absolute;
  z-index: 1000;
  display: none;
  opacity: 1;
}

#redactor_block_plugin_palitra_wrapper, #redactor_block_plugin_resize_wrapper, #redactor_block_plugin_border_wrapper  {
  width:80%;
  margin:0 auto;
  margin-top:50px;
}

#redactor_block_plugin_red, #redactor_block_plugin_border_red {
  width:50px;
  height:50px;
  cursor: pointer;
  background: red;
  float:left;
  margin-bottom: 20px;
}

#redactor_block_plugin_blue, #redactor_block_plugin_border_blue {
  width:50px;
  height:50px;
  cursor: pointer;
  background: blue;
  float:left;
  margin-left: 30px;
  margin-bottom: 20px;
}

#redactor_block_plugin_black, #redactor_block_plugin_border_black {
  width:50px;
  height:50px;
  cursor: pointer;
  background: black;
  float:left;
  margin-left: 30px;
  margin-bottom: 20px;
}

#redactor_block_plugin_green, #redactor_block_plugin_border_green {
  width:50px;
  height:50px;
  cursor: pointer;
  background: green;
  float:left;
  margin-bottom: 20px;
}

#redactor_block_plugin_yellow, #redactor_block_plugin_border_yellow {
  width:50px;
  height:50px;
  cursor: pointer;
  background: yellow;
  float:left;
  margin-left: 30px;
  margin-bottom: 20px;
}

#redactor_block_plugin_grey, #redactor_block_plugin_border_grey {
  width:50px;
  height:50px;
  cursor: pointer;
  background: grey;
  float:left;
  margin-left: 30px;
  margin-bottom: 20px;
}

#redactor_block_plugin_palitra_return {
  color: #FF4500;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:10px;
}

#redactor_block_plugin_resize_return {
  color: #FF4500;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top: 10px;
}

#redactor_block_plugin_resize_width {
  color: #696969;
  float:left;
  padding-right:10px;
}

#redactor_block_plugin_resize_width_input, #redactor_block_plugin_resize_height_input  {
  color: #696969;
  width:50px;
}

#redactor_block_plugin_resize_height {
  color: #696969;
  float:left;
}

.ui-icon {
  background: white!important;
}

#redactor_block_plugin_border {
  width: 300px;
  height: 350px;
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position:absolute;
  z-index: 1000;
}

#redactor_block_plugin_border_radius, #redactor_block_plugin_border_size {
  color: #696969;
  margin-bottom: 20px;
}

#redactor_block_plugin_border_radius_input, #redactor_block_plugin_border_size_input {
  color: #696969;
  width: 50px;
}

#redactor_block_plugin_border_return {
  color: #FF4500;
  cursor: pointer;
  font-weight: bold;
  margin-top:20px;
}

